@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{
    font-family: 'Lato', sans-serif;
    font-size: 1 rem;
}

.bg-login{ 
    background: rgb(32,171,138);
    background: linear-gradient(180deg, rgba(32,171,138,1) 0%, rgba(52,214,175,1) 49%, rgba(69,250,207,1) 100%);    
    background-repeat: no-repeat;
    height: 100vh;
}

.card-login{
    width: 500px;
    margin-top: 15vh;
    padding: 3rem;
    border-radius: 12px;
}

.alerta-vermelho{
    background-color: #EF5B5B;
    color: #FFF;
    padding: .5em 1em;
    border-radius: 6px;
    
}

.alerta-verde{
    background-color: #34D6AF;
    color: #FFF;
    padding: .5em 1em;
    border-radius: 6px;
}

.btn-verde{
    background-color: #20AB8A;
    color: #FFF;
}

.btn-verde:hover{
    background-color:#177962;
    color:#FFF;
}

.navbar-verde{
    background: rgb(32,171,138);
}

.item-nav{
    color:#FFF!important;
    margin-left: 40px;
}

.item-nav:hover{
    border-bottom: 2px solid #FFF;
}

.item-nav.active{
    border-bottom: 2px solid #FFF;
}

#cadastro{
    margin-top: 50px;
    font-family: 'Lato', sans-serif;
}

.input-border-bottom{
    outline: 0;
    border-width: 0 0 2px;
    border-color: #177962;
    border-radius: 0;
    box-shadow: 0 0 0;
}
.input-border-bottom:focus{
    outline: 0;
    border-width: 0 0 2px;
    border-color:#34D6AF;
    border-radius: 0;
    box-shadow: 0 0 0;
}

label{
    text-transform: uppercase;
    color: #9B9898;
    font-size: .8em;
    margin-bottom: 0;
}

.item-menu-verde{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #20AB8A;
    height: 90px;
}

.item-menu-vermelho{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #EF5B5B;
    height: 90px;
}

.item-menu-verde .col-3 {
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    height: 87px;
    padding-top: 20px;
    background-color: #20AB8A;  
}
.item-menu-vermelho .col-3 {
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    height: 87px;
    padding-top: 20px;
    background-color: #EF5B5B;  
}

.text-small{
    font-size: .6em;
    display: block;    
    margin-top: -3px;
    font-weight: bold;
}

.item-menu-verde .col-9 {
   color:#20AB8A!important; 
}
.item-menu-vermelho .col-9 {
    color:#EF5B5B!important; 
 }

.bg-verde{
    background-color: #20AB8A;
}

.bg-vermelho, .btn-vermelho{
    background: #EF5B5B;    
}
.btn-vermelho:hover{
    background: #B01111;    
}


.btn-menu{
    background-color:#20AB8A ;
    border-radius: 10px;
    padding: 10px 30px;
    color: #FFF
    
}
.btn-menu:hover{
    background-color: #34D6AF;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
}
.btn-menu img{
    width: 18px;
}

.btn-lista{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.btn-lista img{
    width: 30px;
   
}